---
import Card from "./Card.astro";
---

<section
  id="experience"
  class="max-w-[80%] pb-32 md:w-[90%] md:max-w-[1000px] mx-auto mt-10 text-white dark:text-black"
>
  <h1 class="py-4 mb-5 text-3xl">Experiencia</h1>
  <div class="flex flex-col">
    <Card
      title="Programador FullStack"
      subitle="Mexico"
      fecha="Junio 2024"
      descripcion="Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque, enim cupiditate libero accusantium tempora nulla repellendus praesentium qui quod, ullam placeat nam itaque ab iure maxime, quos dolores explicabo fugit."
    />
    <Card
      title="Programador FullStack"
      subitle="Mexico"
      fecha="Junio 2024"
      descripcion="Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque, enim cupiditate libero accusantium tempora nulla repellendus praesentium qui quod, ullam placeat nam itaque ab iure maxime, quos dolores explicabo fugit."
    />
    <Card
      title="Programador FullStack"
      subitle="Mexico"
      fecha="Junio 2024"
      descripcion="Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque, enim cupiditate libero accusantium tempora nulla repellendus praesentium qui quod, ullam placeat nam itaque ab iure maxime, quos dolores explicabo fugit."
    />
    <Card
      padding="last:pb-0"
      title="Programador FullStack"
      subitle="Mexico"
      fecha="Junio 2024"
      descripcion="Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque, enim cupiditate libero accusantium tempora nulla repellendus praesentium qui quod, ullam placeat nam itaque ab iure maxime, quos dolores explicabo fugit."
    />
  </div>
</section>
