---
import Typed from 'typed.js';
---

<div
  class="max-w-[80%] md:w-[90%] md:max-w-[1000px] mx-auto mt-10 md:mt-48 text-white relative dark:text-black"
>
  <div
    class="flex flex-col justify-center items-center md:gap-x-5 md:flex-row md:justify-normal"
  >
    <div class="flex flex-col">
      <h1 class="text-4xl mb-3 text-center md:text-start">
        Hola, <span id="name" class="text-sky-400"></span>
      </h1>
      <p class="mb-8 mt-1 text-center animate-pulse md:text-start">Desarrollador FullStack</p>

      <p class="text-xl">
        Lorem, ipsum dolor sit amet consectetur <span class="text-orange-400"
          >adipisicing elit Omnis ipsum sapiente</span
        > doloribus expedita repellat ipsam officiis rem doloremque molestias neque
        repellendus ad asperiores tenetur corporis.
      </p>
    </div>
    <div>
      <img class="max-w-32 mt-7 relative z-30" src="images/undraw_male_avatar_g98d.svg" />
    </div>
  </div>
  <div
    class="max-w-[95%] text-wrap mt-12 flex flex-col justify-center items-center gap-5 md:flex-row md:justify-start"
  >
    <a
      href="https://www.linkedin.com/in/jonathan-aaron-perez-mendez-a302722bb/"
      class="flex items-center gap-1 hover:text-slate-400 duration-300"
      ><svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="icon icon-tabler icons-tabler-outline icon-tabler-brand-linkedin"
        ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
          d="M4 4m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z"
        ></path><path d="M8 11l0 5"></path><path d="M8 8l0 .01"></path><path
          d="M12 16l0 -5"></path><path d="M16 16v-3a2 2 0 0 0 -4 0"></path></svg
      >Linkedin
    </a>
    <div class="md:border-x-2 px-4">
      <a
      href="https://github.com/JonathanDev19"
      class="flex items-center gap-1 hover:text-slate-400 duration-300"
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="icon icon-tabler icons-tabler-outline icon-tabler-brand-github"
          ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
            d="M9 19c-4.3 1.4 -4.3 -2.5 -6 -3m12 5v-3.5c0 -1 .1 -1.4 -.5 -2c2.8 -.3 5.5 -1.4 5.5 -6a4.6 4.6 0 0 0 -1.3 -3.2a4.2 4.2 0 0 0 -.1 -3.2s-1.1 -.3 -3.5 1.3a12.3 12.3 0 0 0 -6.2 0c-2.4 -1.6 -3.5 -1.3 -3.5 -1.3a4.2 4.2 0 0 0 -.1 3.2a4.6 4.6 0 0 0 -1.3 3.2c0 4.6 2.7 5.7 5.5 6c-.6 .6 -.6 1.2 -.5 2v3.5"
          ></path></svg
        >GitHub
      </a>
    </div>
    <a
      class="flex items-center justify-center gap-1 hover:text-slate-400 duration-300 cursor-pointer"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="icon icon-tabler icons-tabler-outline icon-tabler-mail cursor-pointer"
        ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
          d="M3 7a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v10a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-10z"
        ></path><path d="M3 7l9 6l9 -6"></path></svg
      >
      jonathanaaronpm19@gmail.com
    </a>
  </div>
  <p
    class="py-8 mt-6 md:py-3 md:mt-0 justify-center md:absolute md:left-[45%] md:top-[60vh] flex gap-2 text-sky-400 animate-bounce"
  >
    Experiencia <span
      ><svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="size-6"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M19.5 13.5 12 21m0 0-7.5-7.5M12 21V3"></path>
      </svg>
    </span>
  </p>
</div>

<script>
  import Typed from 'typed.js';

  document.addEventListener('DOMContentLoaded', (event) => {
    let typed = new Typed('#name', {
      strings: ['soy Jonathan'],
      typeSpeed: 70,
      loop: true,
      backSpeed: 70,
      backDelay: 4000,
    });
  });
</script>
